<template>

</template>

<script>
// @ is an alias to /src

export default {
  name: 'all',
  components: {
    
  },
  data() {
    return {
      activePage: '1',
    }
  },
  methods: {
    
  }
}
</script>

<style>

</style>
