<template>
  <div class="gang">
    jjj-jjjkkkk
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'gang',
  components: {
    
  },
  data() {
    return {
      activePage: '1',
    }
  },
  methods: {
    
  }
}
</script>

<style>

</style>
