<template>
  <div class="landing">
    <el-container>
      <el-header>
        <ToolBar :isBlack="true">
          <template v-slot:avatar>
            <router-link to="/myProduct">
                <div class="userinfo">
                <el-avatar :src="circleUrl"></el-avatar>
                <span class="username" style="color:#FFFFFF">{{ userName }}</span>
                </div>
            </router-link>
          </template>
        </ToolBar>
      </el-header>
      <el-main class="white">
        <carousel></carousel>
      </el-main>
      <el-footer>©️天地信息网络有限公司      2020</el-footer>
    </el-container>
  </div>
</template>

<script>
// @ is an alias to /src
import ToolBar from '@/components/ToolBar.vue'
import Carousel from '@/components/Carousel.vue'

export default {
  name: 'Landing',
  components: {
    ToolBar,
    Carousel
  },
  data() {
    return {
      activePage: 'all',
      isRouter: true,
      circleUrl: require('../assets/logo.png'),
      userName: '小茄子'
    }
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    }
  }
}
</script>

<style>

  .white {
    background-color: transparent;
  }

  .userinfo {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .userinfo .username {
    margin-left: 10px;
    font-size: 14px;
  }

  .el-container {
    height: 100vh;
  }

  .el-header {
    padding: 0 !important;
  }
 
  .el-main {
    padding: 0 !important;
    /* background: #ffffff; */
  }

  .el-footer {
    justify-content: space-between;
    height: 30px !important;
    font-size: 12px;
    line-height: 30px;
    color: #5a5a89;
    background: #14142b;
  }

</style>
