<template>
  <div class="landing">
    <el-container>
      <el-header>
        <ToolBar :isBlack="true">
          <template v-slot:avatar>
            <div class="userinfo">
              <el-avatar :src="circleUrl"></el-avatar>
              <span class="username">{{ userName }}</span>
            </div>
          </template>
        </ToolBar>
      </el-header>
      <el-main>
        <div class="mp-container">
          <section class="myproduct-header">
            <span>我的产品</span>
          </section>
          <section class="myproduct-section">
            <el-table :data="tableData" style="width: 100%">
              <el-table-column prop="id" label="ID" width="100">
              </el-table-column>
              <el-table-column prop="product" label="产品" width="180">
                  <template slot-scope="scope">
                    <a :href="(scope.row.status === 1 && scope.row.product === '航空信息综合服务') ? 'http://222.222.218.50:8220/login' : '#'">
                        <el-button>{{ scope.row.product }}</el-button>
                    </a>
                  </template>
              </el-table-column>
              <el-table-column prop="ctime" label="创建时间" width="200">
              </el-table-column>
              <el-table-column class="status" prop="" label="" width="30">
                  <template slot-scope="scope">
                    <div :class="scope.row.status === 0 ? 'procircle yellow':'procircle green'"></div>
                  </template>
              </el-table-column>
              <el-table-column class="statustext" prop="statustext" label="状态" width="180">
                  <template slot-scope="scope">
                    <div>{{ scope.row.status === 0 ? '配置中':'已完成' }}</div>
                  </template>
              </el-table-column>
              <el-table-column prop="settings" label="信息"> 
              </el-table-column>
            </el-table>
          </section>
        </div>
      </el-main>
      <el-footer>©️天地信息网络有限公司 2020</el-footer>
    </el-container>
  </div>
</template>

<script>
// @ is an alias to /src
import ToolBar from "@/components/ToolBar.vue";

export default {
  name: "MyProduct",
  components: {
    ToolBar,
  },
  data() {
    return {
      activePage: "all",
      isRouter: true,
      circleUrl: require("../assets/logo.png"),
      userName: "小茄子",
      exUrl : "#",
      tableData: []
    };
  },
   mounted() {
      this.getTable()
    },
    methods: {
      getTable: function() { 
        //localStorage.setItem('settings', "地域:"+this.selectRegion+"<br/>"+"服务范围:"+this.checkboxGroup.join());
        if(localStorage.getItem('antiV')){
            console.log(localStorage.getItem('antiVstatus'));
            let obj = {
                id : localStorage.getItem('antiVid'),
                product : '暴恐信息识别',
                ctime : localStorage.getItem('antiVtime'),
                status : parseInt(localStorage.getItem('antiVstatus')),
                settings : localStorage.getItem('antiVsettings'),
                name : 'antiV',
            };
            this.tableData.push(obj);
        }
        if(localStorage.getItem('air')){
            let obj = {
                id : localStorage.getItem('airid'),
                product : '航空信息综合服务',
                ctime : localStorage.getItem('airtime'),
                status : parseInt(localStorage.getItem('airstatus')),
                settings : localStorage.getItem('airsettings'),
                name : 'air',
            };
            this.tableData.push(obj);
        }
        setTimeout(() => {
            let liArr = this.tableData;
            for (var i = 0; i < liArr.length; i++) {
                if (liArr[i].status == 0) {
                    liArr[i].status = 1;
                    //localStorage.setItem(liArr[i].status);
                    localStorage.setItem(liArr[i].name+'status',1);
                    this.$http.post('http://192.168.1.100:8081/imageStorage/save', {
                      fQuickimgId: '9302083e-38e3-4ba8-a04a-bf3f3755e127.jpg',
                      fLocationId: 'userDefined/2020/11/301961bb-b6c8-4336-852d-21ef20c84665.jpg',
                      fFileName: '航空信息综合服务ADS-B',
                      fJson: '',
                    },{emulateJSON:true}).then(function (response) {
                       console.log(response);
                    }).catch(function (error) {
                       console.log(error);
                    });
                }
            }
          }, 5000);
      },
      handleCurrentChange(currentRow, oldCurrentRow){
        console.log(currentRow, oldCurrentRow);   
      },
    }
};
</script>

<style>
.mp-container {
  width: 80%;
  margin: 0 auto;
}
.myproduct-header {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  text-align: left;
}

.myproduct-header span {
  font-size: 20px;
  font-weight: 900;
  line-height: 50px;
  padding-left: 20px;
}

.procircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;      
    -moz-border-radius: 50%;      
    -webkit-border-radius: 50%;
}

.yellow{
    background-color:yellow;      
}

.green{
    background-color: green;
}

.bgcolor {
  background-color: #35b34a;
  color: #fff;
}
.myproduct-section {
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px #ebecec;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: left;
}

.product-footer {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: #fff;
  border-top: 1px solid #ebecec;
  box-shadow: 0 -15px 35px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  z-index: 9;
}

.section-left {
  float: left;
  width: 13%;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 20px;
  font-weight: 900;
}

.section-right {
  float: left;
  width: 60%;
  padding-top: 25px;
}

.el-tabs__content {
  text-align: left;
}

.userinfo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.userinfo .username {
  margin-left: 10px;
  font-size: 14px;
}

.el-container {
  height: 100vh;
}

.el-header {
  padding: 0 !important;
}

.el-main {
  padding: 0 !important;
}

.el-footer {
  justify-content: space-between;
  height: 30px !important;
  font-size: 12px;
  line-height: 30px;
  color: #5a5a89;
  background: #14142b;
}
</style>