<template>
  <div class="landing">
    <el-container>
      <el-header>
        <ToolBar :isBlack="true">
          <template v-slot:avatar>
            <router-link to="/myProduct">
            <div class="userinfo">
              <el-avatar :src="circleUrl"></el-avatar>
              <span class="username" style="color:#FFFFFF">{{ userName }}</span>
            </div>
            </router-link>
          </template>
        </ToolBar>
      </el-header>
      <el-main>
        <section class="product-section">
          <div class="section-left">信息传输通道</div>
          <div class="section-right">
                <el-radio-group v-model="radio1" @change="radioChange">
                    <el-radio v-for="(option,index) in radioOptions1" :label="option" :key="index" border>{{option}}</el-radio>
                </el-radio-group>
          </div>
          <div style="clear: both"></div>
        </section>
        <section class="product-section">
          <div class="section-left">信息显示</div>
          <div class="section-right">
                <el-radio-group v-model="radio2" @change="radioChange">
                    <el-radio v-for="(option,index) in radioOptions2" :label="option" :key="index" border>{{option}}</el-radio>
                </el-radio-group>
          </div>
          <div style="clear: both"></div>
        </section>
      </el-main>
      <section class="product-footer">
        <div class="confirm-order" @click="confirmOrder">确认订单</div>
        <div _ngcontent-uqi-c21="" class="price-view-area">
          <!----><!----><!---->
          <div _ngcontent-uqi-c21="" class="ng-star-inserted">
            <!---->
            <div _ngcontent-uqi-c21="" class="ng-star-inserted">
              <!---->
              <div _ngcontent-uqi-c21="" class="price-view-wrap">
                <!---->
                <div _ngcontent-uqi-c21="" class="ng-star-inserted">
                  <div _ngcontent-uqi-c21="" class="price-item">
                    <div _ngcontent-uqi-c21="" class="price-name">
                      <span
                        _ngcontent-uqi-c21=""
                        data-spm-anchor-id="5176.ecssimplebuy.price.i0.15fd3675nar5HM"
                        >配置费用：</span
                      ><!----><span _ngcontent-uqi-c21="" class="price-trade"
                        ><!----><!----><!----><span
                          _ngcontent-uqi-c21=""
                          class="ng-star-inserted"
                          ><span _ngcontent-uqi-c21="" class="price-cny-symbol"
                            >￥</span
                          ><span _ngcontent-uqi-c21="" class="price-money"
                            >{{ money }}</span
                          ><span
                            _ngcontent-uqi-c21=""
                            class="price-cny-unit"
                          ></span
                          ><span
                            _ngcontent-uqi-c21=""
                            class="price-count-unit"
                          ></span></span
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!---->
          </div>
        </div>
        <div style="clear:both"></div>    
      </section>
    </el-container>
  </div>
</template>

<script>
// @ is an alias to /src
import ToolBar from "@/components/ToolBar.vue";
const checkOptions1 = ["空-空数据链","空-地数据链"];
const checkOptions2 = ["背景地图","航迹","交通态势分布",];
const selectRegion = "";
const currentTime = "";

export default {
  name: "ProductOne",
  components: {
    ToolBar,
  },
  data() {
    return {
      activePage: "all",
      isRouter: true,
      circleUrl: require("../assets/logo.png"),
      userName: "小茄子",   
      money : 2000,
      radio1: '',
      radioOptions1: ["空-空数据链","空-地数据链"],
      radio2: '',
      radioOptions2: ["背景地图","航迹","交通态势分布"]
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    radioChange(select){
      this.selectRegion = select;
      console.log(this.selectRegion);
    },
    gettime() {
        var today=new Date();
        var y=today.getFullYear();
        var m=today.getMonth();
        var d=today.getDate();
        var h=today.getHours();
        var i=today.getMinutes();
        var s=today.getSeconds();
        return y+"年"+m+"月"+d+"日"+" "+h+":"+i+":"+s;
    },
    confirmOrder(event){
        if(!this.radio1 || !this.radio2){
            alert("请选择信息传输通道及信息显示!");
            return false;
        }
        localStorage.setItem('air', 1);
        localStorage.setItem('airid', 1879);
        localStorage.setItem('airtime', this.gettime());
        localStorage.setItem('airstatus', 0);
        localStorage.setItem('airsettings', "信息传输通道:"+this.radio1+" | "+"信息显示:"+this.radio2);
        this.$router.push({ path:'/myProduct'});
    }
  }
};
</script>

<style>
.bgcolor{
    background-color: #35b34a;
    color: #fff;
}
.product-section {
  width: 80%;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px #ebecec;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: left;
}

.product-footer {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: #fff;
  border-top: 1px solid #ebecec;
  box-shadow: 0 -15px 35px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  z-index: 9;
}

.section-left {
  float: left;
  width: 13%;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 20px;
  font-weight: 900;
}

.section-right {
  float: left;
  width: 60%;
  padding-top: 25px;
}

.el-tabs__content {
  text-align: left;
}

.userinfo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.userinfo .username {
  margin-left: 10px;
  font-size: 14px;
}

.el-container {
  height: 100vh;
}

.el-header {
  padding: 0 !important;
}

.el-main {
  padding: 0 !important;
}

.el-footer {
  justify-content: space-between;
  height: 30px !important;
  font-size: 12px;
  line-height: 30px;
  color: #5a5a89;
  background: #14142b;
}

.price-trade[_ngcontent-uqi-c21] .price-calculating[_ngcontent-uqi-c21],
.price-trade[_ngcontent-uqi-c21] .price-money[_ngcontent-uqi-c21] {
  font-size: 24px;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.price-view-area[_ngcontent-uqi-c21] {
  font-size: 16px;
  width: 250px;
  padding-top: 15px;
  float: right;
}

.price-view-wrap[_ngcontent-uqi-c21] {
  display: flex;
}

.price-view-wrap[_ngcontent-uqi-c21] > div[_ngcontent-uqi-c21] {
  padding: 3px 0;
  border-left: 1px solid #ebecec;
}

.price-item[_ngcontent-uqi-c21] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
  line-height: 1.3;
}

.price-name[_ngcontent-uqi-c21] {
  color: #373d41;
  font-size: 20px;
}


.price-trade[_ngcontent-uqi-c21] {
  color: #ff8a00;
  font-size: 20px;
}

.price-count-unit[_ngcontent-uqi-c21] {
  font-size: 20px;
  color: #000;
}

.price-single-discount-strategy-area[_ngcontent-uqi-c21] {
  margin-left: 10px;
}

.price-strategy[_ngcontent-uqi-c21] {
  padding: 2px 2px 2px 5px;
  margin-right: 5px;
  color: #58bf66;
  font-size: 12px;
  background: rgba(201, 240, 201, 0.5);
  border-radius: 2px;
}

.price-discount[_ngcontent-uqi-c21] {
  color: #35b34a;
  font-size: 12px;
}


.confirm-order{
    float: right;
    width: 140px;
    line-height: 40px;
    height: 40px;
    background: #ff8a00!important;
    color: #fff!important;
    font-size: 16px;
    margin-left: 12px;
    margin-top: 25px;
    margin-right: 230px;
    cursor: pointer;
}
</style>
