<template>
  <div id="banner">
    <el-carousel indicator-position="none" arrow="always">
      <el-carousel-item v-for="item in list" :key="item.id">
        <div class="el-item-content-container">
            <div :class='["el-item-content", item.imgClass]'>
                <div class="mask"></div>
                <h1 class="item-title">{{ item.TitleList }}</h1>
                <h2 class="item-content">{{ item.ContentList }}</h2>
                <!-- <img class="item-img" :src="item.imgUrl" alt /> -->
                <button class="item-button" @click="gotoLink(item.productUrl)">立即开通</button>
            </div>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>


<style>

#banner{
  height:100%;

}

#banner .el-carousel{
  height:100% !important;
}

#banner .el-carousel .el-carousel__container{
  height:100% !important;
}


.el-item-content-container{
  width:100%;
  height:100%;
  
}

.el-item-content{
  width:100%;
  height:100%;
  position:relative;
  text-align:left;
}

.mask{
  width:100%;
  height:100%;
  position:absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.bgpic-1{
  background-image: url('../assets/3.jpg');
  background-size: cover;
}

.bgpic-2{
  background-image: url('../assets/4.jpg');
  background-size: cover;
}

.el-item-content .item-title{
    color: #FFFFFF;
    position:absolute;
    font-size: 42px;
    font-weight: 500;
    top:200px;
    left:300px;
    width:576px;
    z-index: 99;
}

.el-item-content .item-content{
    color: #FFFFFF;
    position:absolute;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    top:300px;
    left:300px;
    width:576px;
    z-index: 99;
}

.el-item-content .item-img{
    position:absolute;
    right:0;
    top:190px;
    width: 576px;
}

.el-item-content .item-button{
    position: absolute;
    top: 500px;
    left: 300px;
    width: 150px;
    height: 50px;
    background-color: #8676FF;
    color:#FFFFFF;
    font-size:16px;
    z-index: 99;
}
</style>


<script>

export default {

  name: "Banner",

  data() {

    return {

      list: [
        {
            id: 1,
            imgClass : "bgpic-1",
            TitleList : "暴恐信息识别",
            productUrl : "productOne",
            ContentList : "暴恐信息识别识别基于深度学习引擎，对卫星通信数据进行自动甄别，暴恐识别算法会返回“疑似暴恐”的字段，对血腥、暴力等图片进行自动打击，用AI捍卫国家安全，助力建立安全、健康的互联网环境。",
        },
        {
            id: 2,
            imgClass : "bgpic-2",
            TitleList : "航空信息综合服务",
            productUrl : "productTwo",
            ContentList : "航空信息综合服务面向运输类飞机、通用飞机、物流无人机平台，重点针对航空器全球追踪、面向飞行机组/乘务员/乘客/机务应用、航空公司增值运营及飞机制造商飞机监控三项典型航空应用。",
        }
      ]

    };

  },

  methods: {
    gotoLink(url) {
      this.$router.push({ path:'/'+url});
    }

  },

  mounted() {


  }

};

</script>
