<template>
  <div class="toolbar" :class="[isBlack ? '' : 'white', 'logo']">
    <div style="display:flex;flex:1;justify-content:space-between">
      <div class="logo">
        <el-image
          style="width:64px;height: 20px"
          :src="logoPicUrl"
          fit="contain"
          @click="gotoLand"
        ></el-image>
        <div class="name">地面信息港</div>
      </div>
      <slot name='menu'></slot>
    </div>
    <slot name='avatar'></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logoPicUrl: require('../assets/LOGOnew.png'),
    }
  },
  props: {
    isBlack: {
      type: Boolean,
      default: true,
    }
  },
  methods: {
    gotoLand(a) {
      console.log(a);
      this.$router.push({ path:'/'});
    }
  }
}
</script>

<style>
  .toolbar {
    height: 100%;
    display: flex;
    align-items: center;
    color:#fff;
    background-color: #14142b;
    padding: 0 30px;
    justify-content: space-between;
  }

  .toolbar.white {
    background-color: #fff !important;
    box-shadow: 0 4px 5px -2px hsla(0,0%,91%,.3);
  }

  .toolbar.white .logo .name{
    color: #000 !important;
  }
 
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .logo .name {
    margin-left: 10px;
    color: #5a5a89;
    line-height: 20px;
    font-size: 18px;
    font-weight: 800;
  }

</style>
