<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
    
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 239, 241);
}

.navtabs.el-menu.el-menu--horizontal {
    border-bottom: none;
}

</style>
